*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Comfortaa', sans-serif;
    font-weight: 400;
    line-height: 21px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: -webkit-linear-gradient(45deg, rgb(152, 207, 195), rgb(86, 181, 184), rgb(237, 242, 208));
    background: -moz-linear-gradient(45deg, rgb(152, 207, 195), rgb(86, 181, 184), rgb(237, 242, 208));
    background: linear-gradient(45deg, rgb(152, 207, 195), rgb(86, 181, 184), rgb(237, 242, 208));
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 550px;
    background: rgba(255, 255, 255, 0.3);
    /* background: -webkit-linear-gradient(45deg, rgb(102, 200, 178), rgb(107, 219, 222));
    background: -moz-linear-gradient(45deg, rgb(102, 200, 178), rgb(107, 219, 222));
    background: linear-gradient(45deg, rgb(102, 200, 178), rgb(107, 219, 222)); */
    
    border-radius: 16px;
    border: 1px solid black;
}

.prior{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: inherit;
}

.taskDifficult {
    display: flex;
    align-items: center;
}

.addTask {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
    border: 1px solid black;
    border-radius: 8px;
    width: 500px;
    height: 45px;
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: white;
}

.taskClass {
    font-family: inherit;
    width: 400px;
    border: none;
    text-decoration: none;
}

.addButton {
    border: none;
    background-color: white;
    font-size: 32px;
}

.taskForm {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    border-radius: 8px;
    width: 500px;
    padding: 12px;
    text-align: left;
    margin-bottom: 16px;
    background-color: white;
}

.labelText {
    max-width: 370px;
    display: flex;
    align-items: center;
}

.checkboxClass {
    height: 21px;
    width: 21px;
    border-radius: 50%;
    border: 2px solid #555;
}

.deleteButton {
    height: 50%;
    max-width: 15%;
    background-color: white;
    border: none;
}

